 # ** Dictionary**
 # - Dictionary is represent with curly braces
 # - list using square brackets
 <!-- - types using paranthes -->
 # - Dictionary is alway a pair key and value

**signature of list**

iden = {key:value, key:value , key:value}

In [34]:
# Example

dict = {'manish':36,'Vishal':32,'Ram':22,'Rajesh':54}

print(dict)
type(dict)

{'manish': 36, 'Vishal': 32, 'Ram': 22, 'Rajesh': 54}

dict

In [2]:
d1 = {'Fruites':['apple','cherry']}
d1

{'Fruites': ['apple', 'cherry']}

** Keys are important **
- keys have only latest value
- No duplicates 
- Key should be only one
- Values can be duplicate
- Which means different key can have same value
- list can not be key 
- tuple can be a key.
- we can access values only cooresponding keys

In [3]:

print(dict['manish'])

36

In [4]:
for i in dict:
    print(i,dict[i]) # i is used for key and dict[i] is used for values

manish 36
Vishal 32
Ram 22

In [5]:
for i in dict:
    print(f"{i} age is",dict[i])

manish age is 36
Vishal age is 32
Ram age is 22

In [6]:
d1 = { 'Fruites':['Apple']}
d1['Fruites'][0]

'Apple'

In [7]:
d1 = { 'Fruites':{'Apple':['kashmir']}}

len(d1)
d1['Fruites']['Apple'][0]

'kashmir'

In [8]:
d1={'Fruites':{"Apple":[
                            {'kashmir':'india'},
                            {'Hyd':'TS'}
                        ]
              }
}

d1

{'Fruites': {'Apple': [{'kashmir': 'india'}, {'Hyd': 'TS'}]}}

In [9]:
d1['Fruites']['Apple'][0]['kashmir']

'india'

In [10]:
d1['Fruites']['Apple'][1]['Hyd']

'TS'

In [11]:
d1={'Fruites':{'Mango':{'Benganpalli':{'Nagpur market':{'MH':{'Shivaji':'The Boss'}}}}}}
d1

{'Fruites': {'Mango': {'Benganpalli': {'Nagpur market': {'MH': {'Shivaji': 'The Boss'}}}}}}

In [12]:
d1['Fruites']['Mango']['Benganpalli']['Nagpur market']['MH']['Shivaji']

'The Boss'

In [13]:
len(d1)

1

** How to create empty dictionay **
- How to make empty string

In [14]:
str1 = 'python'
str2 = ''
list=[]
for i in str1:
    str2 = str2+i
    list.append(i)
str2
list

['p', 'y', 't', 'h', 'o', 'n']

In [15]:
d={}
d['Ramesh']=50
d['Suresh']=45
d['Manish']=47
d

{'Ramesh': 50, 'Suresh': 45, 'Manish': 47}

How to convert string to list

In [16]:
# split convert string to list
str='Hi how are you?'
l=str.split()
l

['Hi', 'how', 'are', 'you?']

** Join converted list to string **

In [17]:
new_str=' '.join(l)
new_str

'Hi how are you?'

** We have two list to convert into dictionary **

In [18]:
name=['Ramesh','Suresh','Manish']
age = [23,45,22]
d={}
for i,j in zip(name,age):
    d[i]=j
d

{'Ramesh': 23, 'Suresh': 45, 'Manish': 22}

In [19]:
name1=['Ramesh','Suresh','Manish','Yash','Rahul','Satish','Ram','Ritesh']
age1 = [23,45,22,74,74,33,75]
d1={}
for i,j in zip(name1,age1):
    d1[i]=j
d1

# If key doesn't have value then it will not print
# And if value doesn't have key then it also not print

{'Ramesh': 23,
 'Suresh': 45,
 'Manish': 22,
 'Yash': 74,
 'Rahul': 74,
 'Satish': 33,
 'Ram': 75}

In [20]:
dir('') #string
dir ([]) # list
dir({}) # dict
dir((1,2,3,4)) # tuple

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']


** items-keys-values **

- items means both keys and values come together
- keys means only dictionay keys
- values means only dictionary values

In [21]:
dict = {'manish':36,'Vishal':32,'Ram':22}
it=dict.items()
it

dict_items([('manish', 36), ('Vishal', 32), ('Ram', 22)])

In [22]:
type(it)

dict_items

In [23]:
it=dict.items()
it

dict_items([('manish', 36), ('Vishal', 32), ('Ram', 22)])

In [24]:
import string 
dir(string)
string.ascii_lowercase

low_list=[]
low_list.append(string.ascii_lowercase)
low_list

['abcdefghijklmnopqrstuvwxyz']

In [25]:
# Q1) WAP to slove the following problem

# step-1: create lowercase letters list using string package
# step-2: create a digit list 1 to 26
# step-3: create a dictionary {'a':1,'b':2,....'z':26}
# step-4: enter a string hai
# step-5: OUTPUT : 8-1-9

In [26]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [32]:
import string
dir(string)
#string.ascii_lowercase
lower_list=[]
digit=[]
for i in string.ascii_lowercase:
    lower_list.append(i)


for i in range(1,27):
    digit.append(i)

digit

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26]

In [31]:
lower_list

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [29]:
dict={}
for i,j in zip(lower_list,digit):
    dict[i]=j
dict

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12,
 'm': 13,
 'n': 14,
 'o': 15,
 'p': 16,
 'q': 17,
 'r': 18,
 's': 19,
 't': 20,
 'u': 21,
 'v': 22,
 'w': 23,
 'x': 24,
 'y': 25,
 'z': 26}

In [37]:
print("Dict")

Dict