** Lambda function **

- It is a kind of a single line fuction 
- We already seen list comprehension which means single line
- lambda function give a flexibility to stop writing many lines
- on iterative exection it will save the timing

In [1]:
def summ(num):
    return(num+10)

summ(20)

30

- Syntax of lambda function

# patten-1 : 

 # -  function name 
 # - variable name 
 # -  return output

# <function_name> = lambda<variable_name>: <return_output>

In [7]:
summ = lambda num: num+10
summ(30)

40

In [9]:
# def cube(x):
#     return(x*x*x)

# cube(10)

cube = lambda x : (x*x*x)
cube(10)

1000

In [ ]:
# patten-2

# function_names> = lambda <arg1>,<arg2> : <output>

In [11]:
add = lambda n1,n2 : n1+n2
add(10,

30

avg = lambda n1,n2,n3 :round((n1+n2+n3)/3)
avg(10,20,30)

** Default argument **

In [24]:
# pattern-3 : 

avg = lambda n1,n2,n3=40:(n1+n2+n3)/3
avg(10,10)

20.0

In [28]:
# pattern-4 : 

def great(n1):
    if n1>10:
        return("Hello")

great(11)

'Hello'

In [ ]:
# In list compherhension

# <if out> <for loop> <if condition>

# lambda fucntion

# <funtion name> = lambda <arg1>,<arg2> : <if out> <if condition> else <else out>

In [50]:
greet = lambda n1: 'Hello'  if n1>10 else 'bye'
greet(9)

'bye'

In [53]:
# Q1) WAP to identiy the greatest number between two numbers

out = lambda n1,n2: f"{n1} is largest" if n1>n2 else f"{n2} is largest"
out(1033,320)

'1033 is largest'

 pattern-5 :

** Using list

In [ ]:
list1 = ['hyd','blr','chennai']
# OUTPUT : list2=['Hyd','Blr','Chennai']

list2 = []

for i in list1:
    list2.append(i.capitalize())

list2

In [62]:
list1 = ['hyd','blr','chennai']
# OUTPUT : list2=['Hyd','Blr','Chennai']

list2 = []

for i in list1:
    list2.append(i.capitalize())

list2

['Hyd', 'Blr', 'Chennai']

In [ ]:
# what is the variable name
# what is the return  output
# from where it is coming

lambda <variable name> : <output>,<iterable>

In [64]:
list1 = ['hyd','blr','chennai']
list2 = []

lambda i : i.capitalize(),list1
list1

['hyd', 'blr', 'chennai']

map function

In [66]:
list(map(lambda i : i.capitalize(),list1))

['Hyd', 'Blr', 'Chennai']

In [68]:
# step-1 : create a normal lambda function
#   for ex: lambda<arg>:output

# step-2 : add the iterable
#     lambda <arg>:<output>,<list>
# step-3 : map the both function and list
#      map(lambda <arg>: <output>,<list>)
# step-4 : save the result in a list or tuple
#     list(map(lambda<arg>: <output>,<list>))

In [86]:
list(map(lambda i : i.capitalize(),list1))
list1

['hyd', 'blr', 'chennai']

list(map(lambda i : i.lower(),list1))
list1

In [77]:
list(map(lambda i : i.upper(),list1))
list1

['hyd', 'blr', 'chennai']

In [80]:
list(map(lambda i : i.center(10,"*"),list1))
list1

['hyd', 'blr', 'chennai']

In [93]:

# Whenever you are applying a condition on list write only condition with out using if

list1 = ['hyd','blr','chen#nai','mumba#i']
OUTPUT=['chen#nai','mumba#i']

list(map(lambda i : '#' in i,list1))

[False, False, True, True]

** filter method **

In [94]:

list1 = ['hyd','blr','chen#nai','mumba#i']
OUTPUT=['chen#nai','mumba#i']

list(filter(lambda i : '#' in i,list1))

# filter method will give the output in from of our condition

['chen#nai', 'mumba#i']

In [96]:
list(filter(lambda i : len(i)<=3,list1))

['hyd', 'blr']